doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Filtered Results
    body 
        h3 Showing #{type} from #{from} to #{to}
        table(border=1)
            tr 
                td Amount 
                td Type
                td Created at
                td Remove 
                td Modify
            for d in data
                tr 
                    td #{d.value}
                    td #{d.type}
                    td #{d.date}
                    td
                        a(href=`/${type}/delete/${d._id}`) Delete
                    td 
                        a(href=`/${type}/update/${d._id}`) Modify

